<mat-card class="table-item" [ngClass]="{ 'busy': isBusy, 'free': isFree, 'reserved': isReserved }">
    <div class="table-number">No. {{ table.number }}</div>
    <div class="table-seats">{{ table.numberOfSeats }} seats</div>
    <div class="icons-container" *ngIf="hasIcons">
        <button mat-icon-button (click)="edit.emit()">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="remove.emit()">
            <mat-icon>delete_outline</mat-icon>
        </button>
    </div>
</mat-card>