.sign-up-container {
    background: whitesmoke;
    width: 300px;
    padding: 60px 40px 80px;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    max-height: 300px;
    margin: auto;

    mat-form-field {
        width: 100%;
    }
    
    .button-container {
        position: relative;
        height: 50px;
    
        button {
            position: absolute;
            right: 0px;
            left: 0px;
            margin: auto;
            width: 100px;
            color: white;
            background: $medium-green;
        }
    }
}

.login-background {
    background: $dark-green;
    height: 100%;
}

.table-loading-indicator {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.05);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;

    &.arena-loading-indicator {
        background: rgba(0, 0, 0, 0.4);
        margin-bottom: 0px;
    }
}