.sidebar {
    min-width: 310px;
    background: $light-green;
    // border-right: 1px solid rgba($color: $dark-green, $alpha: 0.3);

    .logo-container {
        height: 100px;
        position: relative;
        border-bottom: 1px solid rgba($color: $dark-green, $alpha: 0.3);
        margin-bottom: 20px;

        .logo {
            position: absolute;
            margin: auto;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            // cursor: pointer;
            padding-right: 10px;
        }
    }

    .navigation-item {
        padding-left: 40px;
        height: 60px;
        line-height: 60px;
        font-size: 24px;
        color: rgba($color: $dark-green, $alpha: 0.3);

        &:hover {
            color: rgba($color: $dark-green, $alpha: 1);
            cursor: pointer;
        }

        &.current {
            // padding-left: 35px;
            border-right: 5px solid $dark-green;
            color: rgba($color: $dark-green, $alpha: 1);
            // background: #c2fcc2;
        }

        .mat-icon {
            vertical-align: middle;
            margin-right: 15px;
        }

        .navigation-text {
            vertical-align: middle;
            display: inline-block;
        }
    }
}