/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '~@angular/material/theming';
@include mat-core();

$candy-app-primary: mat-palette($mat-green);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-app-warn:    mat-palette($mat-red);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);
@import "~ng-pick-datetime/assets/style/picker.min.css";

@import 'variables';
@import 'table';
@import 'dialog';
@import 'sidebar';
@import 'page';
@import 'feedback';
@import 'menu';
@import 'order';
@import 'login';

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    color: $dark-green;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    #app-container {
        min-height: 100%;
        display: flex;
        align-items: stretch;
    }
}

.main-content {
    position: relative;
    width: 100%;
    background: #ededed;
    padding: 20px;
}
